<h1>About us</h1>

<div id="container">
	<div id="bloc1">
		<div id="profile">
			<a href="/student/nix"><img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-prn2/t31/964256_10151526505642885_2142134270_o.jpg"></a>
			<p>NIX SIOW</p>
			<p>Time traveller.</p>
		</div>

		<div id="profile">
			<a href="/student/erik"><img src="http://i.imgur.com/VzzXBuQl.jpg" class="img_crop"></a>
			<p>ERIK FROESE</p>
			<p>Giblet reader.</p>
		</div>

		<div id="profile">
			<a href="/student/olly"><img src="http://static.movember.com/uploads/2013/profiles/783/78363c3c25a3ddf1573e9b2f7bb840e7-52572b79af842.jpg"></a>
			<p>OLLY DUTTON</p>
			<p>Udder hater.</p>
		</div>
	</div>

	<div id="bloc2">

		<div id="profile">
			<a href="/student/simon"><img src="http://s28.postimg.org/kxgksbwwd/photo.jpg"></a>
			<p>SIMON TAYLOR</p>
			<p>Evil genius.</p>

		</div>

		<div id="profile">
			<a href="/student/charlie"><img src="https://pbs.twimg.com/profile_images/440808125721870336/34QLtMdA.jpeg"></a>
			<p>CHARLIE GERARD</p>
			<p>Ninja warrior.</p>
		</div>
	</div>

	</div>

