<div class="big_container">
    <div class="first_container" id="1">
        <h1>WDI4 Students<h1>
        <h2>Welcome<br>to<br>WDI Students Page</h2>
        <a id="first" href="#2"><h4>-> What're we doing here <-<br>actually?</h4></a>
    </div>

    <div class="second_container" id="2">
        <a href="#3"><h4>--> We have real <--<br>FUN!</h4></a>
    </div>

    <div class="third_container" id="3">
        <a href="#4"><h4>--> We have real <--<br>Headache!</h4></a>
    </div>

    <div class="fourth_container" id="4">
        <a href="#5"><h4>--> We have real <--<br>Enjoyment</h4></a>
    </div>

    <div class="fifth_container" id="5">
        <a href="#1"><h4>--> YEAH!! <--<br></h4></a>
    </div>
</div>