<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Discombobulation</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
</head>

<body>
  <div id="header">
  	<ul>
  		<a href="/"><li>HOME</li></a>
  		<a href="/about"><li>ABOUT US</li></a>
		  <a href="/contact"><li>CONTACT</li></a>
	 </ul>
  </div>
  <div id="container">
    <%= yield %>
  </div>
  <div id="footer">
  </div>     	
</body>

</html>