h1>Erik Froese</h1>
<div id="student_image"><img alt="Profile picture" src="http://i.imgur.com/VzzXBuQl.jpg"></div></div>
<div class="clearfix" id="student_text">
<p class="student">
  Erik Froese is a chicken giblet reader from Western Canada. His father is a grizzly bear and his mother a champion squash player. Erik grew up in a termite mound and enjoyed playing basketball as a child.
</p>

<p class="student">
  At the age of 14, he took up drinking, which eventually led him to Melbourne, where he met his future wife. They now have two children, and a witchetty grub named Jim. Erik plans on reading chicken entrails to predict changes in the stock market, so he can make it rich. He use his new found wealth to build the world’s largest potato gun, from which he will launch himself and 5000 of his closets friends into space. They will colonise Mars.
</p>
<div id="logo_div">
  <a href="www.twitter.com/EAFroese"><img class="logo" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSjcLNVec7qObBeJSbfjjOWRxPomD9Qz1T0kXBcX_wN3wNVf--48g"></a>
  <a href="www.facebook.com/TheRealFroese"><img class="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTziC1rVizY2UeMflCYy85U10z2oMWQiW0hEk3zuFy9r2oAKztMbg"></a>
  <a href="https://github.com/froesecom"><img class="logo" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRQGUe1gRCKmEMT12Bvp0HcOcHKk4RUo39OM_A8j1IaIrdbS26Q8g"></a>
</div>
</div>
<div class="clearfix"></div>