/* HEAD
#contact h2, p {
=======
<<<<<<< HEAD */

/*-----------HEADER AND FOOTER-------------*/

#container {
  max-width: 960px;
}
#header{
  background-color: rgb(47,47,47);
  width: 100%;
  height: 70px;
}

#header ul{
  margin: 0 70px 0 0;
  text-align: right;
}

#header li{
  display: inline-block;
  width: 100px;
  color: white;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  margin-top: 25px;
}
.student {
  padding: 0 20px 0 20px;
}
#footer{
  background-color: rgb(224,224,227);
  height: 60px;
  border-top: 1px solid black;
  bottom: 0;
  width: 100%;
}
#student_image img {
  max-width: 100%;
  display: inline-block;
}
#student_image {
  display: inline-block;
  width: 39%;
  vertical-align: top;
}
#logo_div a {
  text-decoration: none;
}
#student_text {
  display: inline-block;
  max-width: 60%;
  position: static;
  background: rgba(255, 255, 255, .5);
  border-radius: 20px;
}
.logo {
  height: 50px;
  margin: 0 10px 0 10px;
  border-radius: 10px;
}
#logo_div {
  text-align: center;
}

/*----------------------ABOUT US PAGE----------------*/

h1{
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

 #container{
  max-width: 960px;
  margin: 0 auto;
  padding: 10px 40px;
  margin-bottom: 40px;
  border-top: 1px solid gray;
} 

#bloc1{
  max-width: 668px;
  display: block;
  margin: 0 auto;
}

#bloc2{
  max-width: 444px;
  display: block;
  margin: 0 auto;
}

#profile img{
  max-width: 120px;
  border-radius: 60px;
}

#profile .img_crop{
  border-radius: 100px;
  height: 120px;
}

#profile{
  width: 180px;
  text-align: center;
  background-color: rgb(242,242,249);
  display: inline-block;
  margin: 20px;
  padding-top: 20px;
}

#profile p{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding: 0;
}

/*-----------FORM--------------*/

h2, p {
    padding-left: 10%; 
    margin: 2em 0 2em 0;
} 

#name-submit {
    max-width: 960px;
    margin: 0 auto;
    margin: 50px 0 50px 0;
}

input, textarea {
    width: 340px;
    height: 40px;
    border-radius: 0.4em;
}

textarea {
    padding-top: 1em;
}

#email-submit {
    margin: 50px 0 50px 0;
}
#submit {
  margin: 0 0 50px 0;
}
#optional-message {
    margin: 50px 0 50px 0;
}

form {
    padding-left: 10%;
}
.clearfloat {
  overflow: auto;
}
.monkey {
    margin-top: 30px;
    margin-left: 10%;    
}

/*homepage-----------*/
html {
  background: url(../images/throwback.png) top center fixed;
  background-size: cover;
}

.first_container h1 {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  font-size: 80px;
  font-weight: 700;
  color: #F2F1D9;
  padding: 12px 0 12px 0;
  margin-top: 20px;
}

.first_container h2 {
  font-family: 'Waiting for the Sunrise', cursive;
  color: #F2F1D9;
  text-align: center;
  padding: 4px 0 30px 0;
  margin: -150px 0 80px 0;
  font-size: 33px;
  line-height: 1em;
}

.big_container h4 {
  font-family: 'Rammetto One', cursive;
  font-size: 50px;
  text-align: center;
  text-shadow: 2px 2px black;
}

.big_container a:link {
    color: #BB3E79;
    text-decoration: none;
    transition: color 0.2s linear; 
}

.big_container a:hover, .big_container a:focus {
    color: #3DB1B8;
    text-decoration: none;
    font-weight: bold;
}

#2, #3, #4, #5 {
  
}

.first_container {
  background: #121336; 
  max-width: 960px;
  margin: auto; 
  height: 630px;
  border: 3px dashed white;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.second_container {
  background: #F2F1D9; 
  max-width: 960px;
  margin: -20px auto;
  height: 630px;
  border: 3px dashed black;
}

.third_container {
  background: pink;
  max-width: 960px;
  margin: -20px auto; 
  height: 630px;
  border: 3px dashed blue;

}

.fourth_container {
  background: #1A260D;
  max-width: 960px;
  margin: -20px auto; 
  height: 630px;
  border: 3px dashed red;

}

.fifth_container {
  background: #226767;
  max-width: 960px;
  margin: auto; 
  height: 630px;
  border: 3px dashed white;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
